html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* 
* {
  margin: 0;
  padding: 0;
  border: 0;
} */

.min-100 {
  min-height: 100vh;
}

.lh-copy {
  line-height: 1.8;
}

@media screen and (min-width: 30em) {
  .measure-narrow-ns {
    max-width: 16em;
  }
}

.charter {
  font-family: "Charter", georgia, serif;
}

.bg-white {
  background-color: #f8f8f8;
}

.highlight {
  background-color: rgb(253, 95, 129);
  color: black;
}

.hover-yellow:hover,
.hover-yellow:focus {
  color: rgb(245, 178, 198);

}
.{color},
.{color}:visited {
  color: #ffb700;
}
.{color},
.{color}:link {
  color: #ffb700;
}